body{
    margin: 0;
    padding: 0;
    background-color: #76b852;
}
ul {
    list-style-type: none;
    width: 100%;
    height: 40px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
li {
    float: left;
    width: 180px;
}

li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 12px 10px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #04AA6D;
}
span{
    float: right;
    margin: 10px;
    color: white;
}
span a{
    text-decoration: none;
    color: wheat;
}