.menubar {
  overflow: hidden;
  background-color: #333;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

/* Links inside the navbar */
.menubar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change background on mouse-over */
.menubar a:hover {
  background: #81BC5F;
  color: black;
}
/* Top menu content */
.content{
  width: 70%;
  float: left;
  margin: 20px;
}
/* Top menu p style */
.content p{
  font-size: 24px;
  color: white;
}
/* Top menu input style */
.content input {
  width: 20%;
  margin-top: 10px;
  
}