body{
    margin: 0;
    padding: 0;
    background-color: #76b852;
}
ul {
    list-style-type: none;
    width: 100%;
    height: 40px;
    margin: 0;
    padding: 0;
    background-color: #333;
    display: inline-flex;
}
li {
    float: left;

    height:40px;
    padding: 10px;
}

li a {

    color: white;
    text-align: center;
    height: 40px;
    text-decoration: none;
    padding: 12px 10px;
}

li a:hover {
    background-color: #111;
    text-align: center;
    height: 100%;
    padding: 12px 10px;
}
.sections{
    width: 100%;
    height: 500px;

}
.footer{
    margin: 0;
    width: 100%;
    height: 70px;
    background-color: darkgrey;

}
.footer a{
    text-decoration: none;
    color: white;
    padding: 10px;


}